.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00BFFF;
  }
  
  .half {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #fff; /* White background color */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  h2, h3 {
    color: #333; /* Dark text color */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  article {
    color: #555; /* Medium text color */
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff; /* Blue button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  