.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }
  
  .listing-heading {
    text-align: center;
    color: var(--secondary-color);
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .listing-location::before {

    content: url('/assets/tick.png') / '';
  }
  
  .listing-location {
    font-size: 24pt;
    margin-bottom: 15px;
  }
  
  .listing-features > .section-heading {
    color: var(--secondary-color);
    font-size: 24pt;
    margin-bottom: 15px;
  }
  
  .listing-features {
    margin-bottom: 20px;
  }
  
  .listing-features li {
    font-size: 14pt;
  }
  
  li {
    list-style-type: none;
  }
  
  .listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
  }
  
  label, input {
    display: block;
  }
  label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }
  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }
  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
      height: 400px;
    }
  }

  /* Add this to your CSS */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero-section {
  width: 100%;
  max-width: 2000px; /* Adjust the width as needed */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds some shadow for depth */
  border-radius: 10px; /* Optional: rounds the corners */
}

/* Update your media query */
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
  }
}
/* Add this to your CSS */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .hero-section {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds some shadow for depth */
    border-radius: 10px; /* Optional: rounds the corners */
  }
  
  /* Update your media query */
  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
      height: auto; /* Adjust height to maintain aspect ratio */
    }
  }
  